@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  height:100vh;

}

.container {
  @apply  mx-auto px-4;
}


/* Hide scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ensure full-screen snap scrolling */
html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* src/index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
